h2 {
  font-family: "Helvetica Neue";
  font-size: 14px;
  color: #999;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  color: #333;
}

a {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
}

h1.header {
  /* Reflect on your day. */

  position: absolute;
  left: 200px;
  top: 150px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;

  color: #ffb236;
}

p.subHeader {
  /* Reflect daily with questions, calm your thinking, organize your life. */
  position: absolute;
  width: 400px;
  height: 200px;
  left: 200px;
  top: 250px;

  font-family: "Helvetica Neue";
  font-size: 28px;
  line-height: 48px;
  text-align: center;

  color: #e5e5e5;
}

button.signUpButton {
  /* Button */
  position: absolute;
  width: 350px;
  height: 80px;
  left: 220px;
  top: 500px;

  background: #ffb236;
  border-radius: 40px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #0d47a1;
  text-decoration: none;
  border-style: none;
}

/* button change when hover and clicked */
button.signUpButton:hover {
  color: #e5e5e5;
  background-color: #f57c00;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Log In */

.navLogInButton {
  position: absolute;
  right: 140px;
  top: 15px;

  font-family: "Helvetica Neue";
  font-size: 16px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-align: center;

  background: #0d47a1;
  color: #e5e5e5;
  border-style: none;

  text-decoration: none;
}

/* button change when hover and clicked */
.navLogInButton:hover {
  color: #bebebe;
  transition: width 0.5s ease, background-color 0.3s ease, color 0.3s ease;
}

.navSignUpButton {
  position: absolute;
  right: 30px;
  top: 15px;

  font-family: "Helvetica Neue";
  font-size: 16px;
  align-items: center;
  text-align: center;

  background: #0d47a1;
  color: #e5e5e5;
  padding: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 30px;

  text-decoration: none;
}

.navSignUpButton:hover {
  color: #bebebe;
  border: 1px solid #bebebe;
  transition: width 0.5s ease, background-color 0.3s ease, color 0.3s ease;
}

.racoonImg {
  position: relative;
  max-width: 500px;
  right: 50px;
  top: 200px;
  border-radius: 100%;
}

.submitButton {
  /* Button */
  width: 100%;
  height: 60px;

  background: #ffb236;
  border-radius: 40px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #0d47a1;
  padding: 15px 60px 15px 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 40;
  text-transform: none;
}

/* button change when hover and clicked */
button.submitButton:hover {
  color: #e5e5e5;
  background-color: #f57c00;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button.nextButton {
  margin-top: 70px;
  width: 100px;
  height: 60px;

  color: #0d47a1;
  text-transform: none;

  background: #eeeeee;
  border: 1px solid #d9dbdf;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
}

/* button change when hover and clicked */
button.nextButton:hover {
  box-shadow: 0px 4px 20px #999;
  border-radius: 40px;
}

button.prevButton {
  margin-top: 20px;
  width: 100px;
  height: 15px;

  color: rgba(0, 40, 119, 0.8);
  text-transform: none;

  background: #eeeeee;
  border-radius: 40px;
  border: none;
}

div.monkeyMind {
  width: 500px;
  margin-top: 20px;
  background: #edeff1;
  border: 1px solid #d9dbdf;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

div.monkeyMind:hover {
  box-shadow: 0px 4px 20px #999;
  border-radius: 40px;
}

.sunImg {
  position: absolute;
  max-width: 350px;
  left: 20px;
  top: 20px;
}

.sun2Img {
  position: absolute;
  max-width: 300px;
  right: 20px;
  top: 40px;
}

.sleepyRacoonImg {
  position: absolute;
  max-width: 400px;
  right: 0px;
  bottom: 0px;
}
